*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0 auto;
  width: 800px;
  border: 1px solid black;
}
header, footer{
  border: 2px solid black;
  height: 150px;
}

h1,h2{
  text-align: center;
}
.container{
  background-color: lightpink;
  height: 70%;
}
.box{
  border:1px solid black;
  height: 200px;
  text-align: center;
  width: 200px;
  float: left;
}
/*
Moves the paragraph below the floated boxes but changes the height of the paragraph to the height of the parent container

p:before{
  content:".";
  display: block;
  clear: both;
}
*/
section:after{
  display: block;
  content: " ";
  clear: left;
}

.box.a{
  background-color: lightslategray;
}
.box.b{
  background-color: lightblue;
}
.box.c{
  background-color: lightseagreen;
}
p{
  border:2px solid black;
}